*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  --mode-color: hsl(235, 24%, 19%);
  --mode-text-color: lightgrey;
  --cross-icon-visibility: hidden;
}

#app-container {
  position: relative;
  width: 100%;
  height: 100vh;
}

.dark-mode-app-background {
  background-color: hsl(235, 21%, 11%);
}

#background-top {
  width: 100%;
  height: 13rem;
}

#content-container {
  position: absolute;
  top: 0;
  margin-top: 2.5rem;
  width: 100%;
  height: fit-content;
  display: flex;
  place-items: center;
  flex-direction: column;
}

header {
  height: fit-content;
  width: 35rem;
  display: flex;
  align-items: center;
  margin-bottom: 2rem;
}

main {
  width: 35rem;
}

#todo-title {
  color: white;
  font-size: 2.5rem;
  font-weight: 600;
}

#color-mode-img {
  margin-left: auto;
  width: 1.75rem;
  cursor: pointer;
}

#todos-container {
  box-shadow: 0rem 0.5rem 2rem -1rem;
}

.todo-box {
  border-bottom: 1px solid hsl(233, 14%, 35%);
  width: 100%;
  min-height: 3rem;
  max-height: fit-content;
  display: flex;
  align-items: center;
  padding-left: 1rem;
  gap: 1rem;
}

.todo-box:hover {
  /* changes the visibility property of .cross-icon*/
  --cross-icon-visibility: visible;
}

.todo-box-text {
  cursor: pointer;
}

.dark-mode-box-styling {
  --mode-text-color: lightgrey;
  color: var(--mode-text-color);
  background-color: hsl(235, 24%, 19%);
  --mode-color: hsl(235, 24%, 19%);
}

.light-mode-box-styling {
  --mode-text-color: black;
  color: var(--mode-text-color);
  background-color: white;
  --mode-color: white;
}

.todo-input {
  color: var(--mode-text-color);
  outline: none;
  background-color: transparent;
  border: none;
  width: 90%;
}

.check-box {
  position: relative;
  height: 1.2rem;
  width: 1.2rem;
  border-radius: 2rem;
  border: 0.1rem solid hsl(233, 14%, 35%);
}

.check-box:hover {
  height: 1.2rem;
  width: 1.2rem;
  border-radius: 1rem;
  border: 0.1rem solid transparent;
  background-image: linear-gradient(var(--mode-color), var(--mode-color)),
    linear-gradient(130deg, hsl(192, 100%, 67%), hsl(280, 87%, 65%));
  background-origin: border-box;
  background-clip: content-box, border-box;
}
.check-box.check-background:hover {
  height: 1.2rem;
  width: 1.2rem;
  border: 0.1rem solid hsl(233, 14%, 35%);
  background-image: linear-gradient(
    130deg,
    hsl(192, 100%, 67%),
    hsl(280, 87%, 65%)
  );
  background-origin: border-box;
  background-clip: content-box, border-box;
}

.check-background {
  background-image: linear-gradient(
    130deg,
    hsl(192, 100%, 67%),
    hsl(280, 87%, 65%)
  );
}

#check-icon {
  position: absolute;
  width: 100%;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  scale: 0.7;
  cursor: pointer;
}

.checked {
  color: grey;
  text-decoration: line-through;
}

.create-box {
  border: none;
  margin-bottom: 1.5rem;
}

#create-icon {
  font-size: 2rem;
  height: 1rem;
  margin-bottom: 2rem;
  margin-right: 0.5rem;
  cursor: pointer;
}

.cross-icon {
  margin-left: auto;
  height: 0.8rem;
  margin-right: 0.75rem;
  cursor: pointer;
  /* .todo-box on hover changes this visibility*/
  visibility: var(--cross-icon-visibility);
}

footer {
  display: flex;
  width: 35rem;
}

#footer {
  color: grey;
}

footer div {
  padding: 0 0.25rem;
}

footer :first-child {
  margin-right: auto;
  padding-left: 0.5rem;
}

footer :last-child {
  margin-left: auto;
  padding-right: 0.5rem;
}

.footer-item.interactable:hover {
  color: white;
  cursor: pointer;
}

.footer-item.selected {
  color: hsl(220 100% 65%);
}

.footer-item.selected:hover {
  color: hsl(220 100% 65%);
  cursor: pointer;
}
