*,
*::before,
*::after {
  box-sizing: border-box;
}

#app-container {
  position: relative;
  width: 100%;
  height: 100vh;
}

.dark-mode-app-background {
  background-color: hsl(235, 21%, 11%);
}

#background-top {
  width: 100%;
  height: 13rem;
}

#content-container {
  position: absolute;
  top: 0;
  margin-top: 2.5rem;
  width: 100%;
  height: fit-content;
  display: flex;
  place-items: center;
  flex-direction: column;
}

header {
  height: fit-content;
  width: 35rem;
  display: flex;
  align-items: center;
  margin-bottom: 2rem;
}

main {
  width: 35rem;
}

#todo-title {
  color: white;
  font-size: 2.5rem;
  font-weight: 600;
}

#color-mode-img {
  margin-left: auto;
  width: 1.75rem;
  cursor: pointer;
}

#todos-container {
  box-shadow: 0rem 0.5rem 2rem -1rem;
}

.todo-box {
  color: lightgrey;
  border-bottom: 1px solid hsl(233, 14%, 35%);
  width: 100%;
  min-height: 3rem;
  max-height: fit-content;
  display: flex;
  align-items: center;
  padding-left: 1rem;
  gap: 1rem;
}

.dark-mode-box-styling {
  background-color: hsl(235, 24%, 19%);
}

.light-mode-box-styling {
  background-color: white;
  color: black;
}

.todo-input {
  color: lightgrey;
  outline: none;
  background-color: transparent;
  border: none;
  width: 90%;
}

.check-box {
  position: relative;
  height: 1.2rem;
  width: 1.2rem;
  border-radius: 2rem;
  border: 1px solid hsl(233, 14%, 35%);
}

.checked-text-styling {
  color: grey;
  text-decoration: line-through;
}

.check-background {
  background-image: linear-gradient(
    130deg,
    hsl(192, 100%, 67%),
    hsl(280, 87%, 65%)
  );
}

#check-icon {
  position: absolute;
  width: 100%;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  scale: 0.7;
}

.create-box {
  border: none;
  margin-bottom: 1.5rem;
}

#create-icon {
  font-size: 2rem;
  height: 1rem;
  margin-bottom: 2rem;
  margin-right: 0.5rem;
  cursor: pointer;
}
